header{
    padding: 1% 1% 1% 49%;
}
.tabela{
    margin: 15% auto;
}
body{
    background-color:#F0F8FF;}

.tabela, tr, th, td{
    border: solid 2px black;
    border-collapse: collapse;
    padding: 6px;
    height: 30px;
    width: 23%;
}
.titulo, .sub_titulo{
    font-weight: bold;
    text-align: center;
}
.valores{
    text-align: center;
}